.fi-sidebar {
    color: #6d1717 !important;
}

.fi-tabs{
    width: 100% !important;
}


.fi-sidebar{
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 10px !important;
    box-shadow: 8px 10px 30px rgba(0, 100, 0, 0.1) !important;
    backdrop-filter: blur(0px) !important;
    -webkit-backdrop-filter: blur(0px) !important;
    border: 1px solid rgba(255, 255, 255, 0.64) !important;
}

/*.fi-fo-field-wrp{*/
/*    margin-top: 2.25rem !important;*/
/*}*/
